<!DOCTYPE html>
<html>
<head>
<title>Benzen</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="theme-color" content="#108EE9">
<link rel="shortcut icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="/assets/master.css">
</head>
<body>
<div class="logo"><img src="/assets/logo-w.png" alt="Benzen"></div>
<% if (errorMessageVisible) { %>
<div class="message">
  <h1>Sorry!</h1>
  <p>
  Service is currently not available or missing.<br>
  Find something another of Benzen?
  </p>
</div>
<% } %>
<div class="sitemap">
  <a href="http://workshub.io">
    <b>Workshub.io</b>
    <span>Programming Education Platform (building)</span>
  </a>
  <a href="http://workshop.benzen.io">
    <b>Workshop</b>
    <span>Webservice Fullstack Workshop (deprecated)</span>
  </a>
  <a href="http://blog.benzen.io">
    <b>Blog</b>
    <span>Just a Company Journal</span>
  </a>
</div>
<p class="address">Contact us via support&commat;benzen.io</p>
</body>
</html>
